h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}

head {
  color: #325050;
  background: rgb(71, 132, 245);
  font-family: sans-serif;
}

body {
  color: #325050;
  background: rgb(243, 183, 104);
  font-family: sans-serif;
}